* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.BMWbackground {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
}

#logo {
	height: 50px;
	width: 90px;
	cursor: pointer;
}

ul {
	list-style-type: none;
	background-color: transparent;
}

li a {
	display: inline-block;
	color: #fcf7f7;
	padding: 20px 20px;
	text-decoration: none;
	font-size: 20px;

}

li a:hover {
	background: linear-gradient(45deg, rgb(37, 37, 133), rgb(14, 14, 67), red, rgb(174, 171, 171));
	background-clip: text;
	color: transparent;
	text-decoration: underline;
}

#nav {
	padding-inline: 30px;
	padding-block: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	right: 0;
	left: 0;
	position: absolute;
	;

}

.left {
	display: flex;
	align-items: center;
	gap: 20px;
}

#nav ul {
	display: flex;
	column-gap: 10px;
}

.social-links i {
	padding-inline: 10px;
	cursor: pointer;
	color: #fefafa;
	font-size: 25px;
}

.social-links i:hover {
	background: linear-gradient(45deg, rgb(37, 37, 133), rgb(14, 14, 67), red, rgb(174, 171, 171));
	background-clip: text;
	color: transparent;
}

.menu-list {}

.menu-icon {
	display: none;
}

.name {
	color: whitesmoke;
	margin-left: 50px;
}

.name h3 {
	font-size: 40px;
	margin-bottom: 30px;
}

.name p {
	font-size: 30px;
}

.name span {
	font-size: 150px;
}

.name h6 {
	font-size: 30px;
}

.color {
	padding: 20px 20px;
	background-color: blue;
	border-radius: 5px;
	display: ruby;
}

.color p {
	font-size: 25px;
	margin-top: 20px;
	align-items: center;
}

#profile {
	position: fixed;
	background-color: black;
	color: whitesmoke;
	width: 100%;
	height: 550px;
	top: -100%;
	transition: all 0.3s ease;
}

#profile.active {
	top: 80px;
}

#profile h3 {
	font-size: 70px;
	top: 50px;
	text-align: left;
	padding: 20px;
}

#profile h6 {
	font-size: 40px;
	padding: 20px;
}

#profile p {
	padding-inline: 20px;
	font-size: 30px;
	line-height: 50px;
	text-decoration: dotted;
	margin: 0 0 20px 0;
}

#login {
	margin: 50px 0 0 20px;
	background-color: black;
}

#login:hover {

	color: black;
}

#login a {
	padding: 8px 20px;
	color: white;
	text-decoration: none;
	font-size: 20px;
	border-radius: 5px;
	background-color: black;
}

#login a:hover {
	background-color: white;
	color: black;
}

#register {}

#register a {
	padding: 8px 20px;
	color: black;
	text-decoration: none;
	font-size: 20px;
	border-radius: 5px;
	background-color: white;
}

#register a:hover {
	background-color: black;
	color: white;
}

.BGiX {
	margin-top: 30px;
	overflow: hidden;
	position: relative;
	color: whitesmoke;
	margin-bottom: 30px;
}

img {
	width: 100%;
	height: 60%;
}

.textiX {
	position: absolute;
	top: 40%;
	bottom: 50%;
	left: 4%;
}

.textiX h4 {
	font-size: 30px;
}

.textiX h2 {
	font-size: 70px;
}

.textiX p {
	font-size: 40px;
	margin-bottom: 10px;
}

#color1 {
	padding: 20px 20px;
	background-color: blue;
	border-radius: 5px;
	display: ruby;
}

#color1 p {
	font-size: 25px;
	margin-top: 25px;
	align-items: center;
}

.main {
	text-align: center;
	color: rgb(70, 69, 69);
}

.main h5 {
	margin-top: 20px;
	font-size: 40px;
	color: black;
	margin-bottom: 50px;
}

.car {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	margin-bottom: 10px;

}

#newcar {
	width: calc(100% / 3);
	height: 300px;
	margin-bottom: 20px;
}

#newcar img {
	width: 400px;
}

#newcar p {
	padding: 30px 20px;
	font-size: 25px;
}

#testdrive {
	width: calc(100% / 3);
	margin-bottom: 20px;
}

#testdrive img {
	width: 400px;
}

#testdrive p {
	padding: 30px 20px;
	font-size: 25px;
}

#buildown {
	width: calc(100% / 3);
	margin-bottom: 20px;
}

#buildown img {
	width: 400px;
}

#buildown p {
	padding: 30px 20px;
	font-size: 25px;
}

.car span {
	border: 1px solid black;
	border-radius: 4px;
	padding: 20px;
	color: black;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.car span:hover {
	border: 2px solid black;
}

.i7 {
	overflow: hidden;
	position: relative;
	color: whitesmoke;
	margin-bottom: 30px;
}

.i7 img {
	width: 100%;
	height: 90vh;
}

#series7 {
	position: absolute;
	top: 20%;
	left: 5%;
}

#series7 h6 {
	font-size: 40px;
	margin-bottom: 50px;
}

#series7 p {
	border: 1px solid white;
	color: whitesmoke;
	font-size: 20px;
	display: ruby;
	padding: 20px 20px;
	border-radius: 5px;
}

#series7 p:hover {
	color: black;
	border: 1px solid black;
}

.imagebox {
	display: flex;
	margin-bottom: 20px;
	gap: 50px;
	padding-inline: 20px;
}

.image {
	width: 50%;

}

.image img {
	width: 700px;
	height: auto;
}

.text {}

.text h5 {
	font-size: 15px;
	margin-top: 70px;

}

.text h6 {
	font-size: 40px;
	margin-top: 10px;
}

.text p {
	margin-top: 40px;
	font-size: 20px;
	margin-bottom: 50px;
}

.text span {
	padding: 20px 20px;
	margin-top: 50px;
	border: 1px solid black;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border-radius: 4px;
}

.text span:hover {
	border: 2px solid black;
}

.hr {
	margin: inline 50px;
	;
	color: #777777;
}

.middle {
	display: flex;
	color: #777777;
}

.middle ul {
	display: flex;
}

.middle a {
	color: #5A5A5A;
}

.middle a:hover {
	color: black;
	text-decoration: underline;
}

h6 a {
	font-size: 10px;
	color: #5A5A5A;
}

h6 a:hover {
	color: black;
	text-decoration: underline;
}

.last {
	display: flex;
	color: #5A5A5A;
	justify-content: center;
}

.h6 {
	padding-inline: 40px;
	font-size: 15px;
}

.footer1 {
	display: flex;
	color: #0f0f0f;
	height: 60px;
	justify-content: space-between;
	padding-inline: 20px;
	padding-block: 20px;

}

.footer1 p {
	display: flex;
	height: 60px;
	padding: 20px;

}

.footer1 span {
	color: #0f0f0f;
	margin-left: 10px;
}

.footer2 {
	display: flex;
	color: #5A5A5A;
	float: right;
	padding-inline: 20px;
	justify-content: flex-end;
}

.footer2 ul {
	display: flex;
}

.footer2 a {
	color: #5A5A5A;
}

.footer2 a:hover {
	color: black;
}

.cancel-icon {
	display: none;
}

@media only screen and (max-width: 768px) {

	.BMWbackground {
		width: 100%;
		width: 100vw;
	}

	#nav {
		overflow: hidden;
	}

	.cancel-icon {
		position: absolute;
		color: white;
		right: 20px;
		top: 20px;
		font-size: 20px;
		cursor: pointer;
		display: block;
	}

	.menu-list {
		position: fixed;
		flex-direction: column;
		background-color: black;
		top: 0;
		left: -100%;
		width: 100%;
		max-width: 350px;
		height: 100vh;
		text-align: center;
		display: none;
		text-decoration: none;
		transition: all 0.3s ease;
	}

	.menu-list.active {
		left: 0;

	}

	.menu-list li a {
		color: #ebe8e8;
		font: 18px;
		margin-top: 10px;
		transition: all 0.3 ease;
		text-decoration: none;
	}

	.menu-list li a:hover {
		background: linear-gradient(45deg, rgb(37, 37, 133), rgb(14, 14, 67), red, rgb(174, 171, 171));
		background-clip: text;
		color: transparent;

	}

	.menu-icon {
		color: rgb(247, 238, 238);
		display: block;
		font-size: 25px;
	}

	.menu-icon.hide {
		display: none;
	}

	.social-links {
		margin-left: 35px;

	}

	#profile {
		position: fixed;
		top: -100%;
		left: 0;
		right: 0;
		height: 400px;
		transition: all 0.3s ease;
	}

	#profile.active {
		top: 80px;
	}

	#profile h3 {
		font-size: 30px;
		text-align: center;
		padding: 20px;
		margin: 50px 0 0 0;
	}

	#profile h6 {
		font-size: 15px;
		margin-left: 10px;
	}

	#profile p {
		font-size: 15px;
		line-height: 10px;
		text-align: center;
	}

	#login {
		font-size: 20px;
		padding: 7px 20px;
		border-radius: 5px;
		background-color: black;
		color: white;
	}

	#login:hover {
		background-color: white;
		color: black;
	}

	#register {
		font-size: 20px;
		margin: 20px 0 0 20px;
		padding: 7px 20px;
		border-radius: 5px;
	}

	#register:hover {
		background-color: black;
		color: white;
	}


	.BGiX {
		width: 100%;
		height: 100%;
	}

	.vidbg {
		width: 100%;
	}

	#hidden {
		display: none;
	}

	.textiX h4 {
		font-size: 12px;
	}

	.textiX h2 {
		font-size: 15px;
	}

	.textiX p {
		font-size: 10px;
	}

	#color1 {
		padding: 5px 5px;
	}

	#color1 p {
		font-size: 13px;
	}

	.main p {
		font: 15px;
	}

	.main h5 {
		font-size: 20px;
		margin: 0;
	}

	.car {
		display: flex;
		flex-wrap: wrap;
	}

	#newcar,
	#testdrive,
	#buildown {
		width: 100%;
		height: 200px;

	}

	#newcar img,
	#testdrive img,
	#buildown img {
		width: 250px;
		height: 100px;
	}

	#newcar p,
	#testdrive p,
	#buildown p {
		padding: 0;
		margin-bottom: 20px;
	}

	.i7 img {
		width: 100%;
		height: 30vh;
	}

	#series7 h6 {
		font-size: 13px;
	}

	#series7 p {
		padding: 5px 5px;
		font-size: 10px;
	}

	.imagebox {
		flex-wrap: wrap;
		margin-inline: 20px;
	}

	.image img {
		width: 200%;
	}

	.text h5 {
		margin: 0;
		font-size: 20px;
	}

	.text h6 {
		margin: 1px;
		font-size: 15px;
	}

	.text p {
		margin: 2px;
		font-size: 12px;
	}

	.text span {
		margin: 5px;
		font-size: 12px;
		padding: 5px 5px;
	}

	.middle {
		display: none;
	}

	hr {
		width: 100%;
	}

	.last {
		display: none;
	}

	.footer2 {
		display: none;
	}
}