* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bgimages {
    width: auto;
    height: auto;
    position: relative;
}

.bgimages img {
    width: 100%;
    height: 100%;

}

.main {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
}

.main img {
    width: 50px;
    height: 50px;
}

.left {
    margin-top: 10px;
}

#logo {
    margin: 10px 0 0 20px;
}

.left li {
    display: inline;
    padding-left: 50px;
    font-size: 20px;
}

.left a {
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.left a:hover {
    background: linear-gradient(45deg, rgb(37, 37, 133), rgb(14, 14, 67), red, rgb(174, 171, 171));
    background-clip: text;
    color: transparent;
}

.right {
    margin: 0 30px 0 0;
    font-size: 20px;
    color: white;
}

.right i {
    margin-right: 10px;
}

.right i:hover {
    background: linear-gradient(45deg, rgb(37, 37, 133), rgb(14, 14, 67), red, rgb(174, 171, 171));
    background-clip: text;
    color: transparent;
}

.right li {
    display: inline;
    padding-right: 30px;
}

.right a {
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.right a:hover {
    background: linear-gradient(45deg, rgb(37, 37, 133), rgb(14, 14, 67), red, rgb(174, 171, 171));
    background-clip: text;
    color: transparent;
}

.name {
    position: absolute;
    top: 30%;
    left: 5%;
    color: white;
}

.name h5 {
    font-size: 50px;
}

.name h6 {
    font-size: 30px;
}

.color p {
    padding: 8px 5px;
    font-size: 20px;
    background-color: rgb(31, 31, 252);
    margin: 10px  0 0 0;
    text-align: center;
    border-radius: 3px;
    margin-inline: 30px;
}
.container{
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
   
}
.container h2{
    display: inline; 
    cursor: pointer; 
}
#containerleft{
    margin-top: 20px;
}
#containerleft h2{
    margin-left: 30px;
    font-size: 18px;
}
#containerright{
    margin-top: 10px;
}
#containerright p{
    font-size:18px ;
    padding: 10px 20px;
    background-color: rgb(42, 42, 249);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#containerright p:hover{
    background-color: blue;
}
hr{
    margin-inline: 20px;
}
.container1{
    display: flex;
    justify-content: left;
    padding-inline: 20px;
}
.container1 h3{
    font-size: 18px;
    margin:20px 65px 20px 30px;
    cursor: pointer;
}
.container2{
    display: flex;
    justify-content: space-between;
    width:100%;
}
#range{
    width:25%;
    border: 1px solid gray;
    margin-inline: 20px;
    margin-block: 40px;
}
#range h2{
    margin: 20px  0 0 10px;
    font-size: px;
}
#range p{
    font-size: 15px;
    margin: 10px 0 0 10px;
}
input[type="range"] {
    width: 80%;
    margin-left: 20px;
}

#carimage{
    width: 75%;
    margin-block: 40px;
    display: inline-flex;
}
#carimage img{
    width:270px;
    height: 160px;
}
.size h5{
    text-align: center;
    font-size: 20px;
}
p{
    font-size: 11.23px;
    padding-inline: 20px;
    margin-bottom: 30px;
}
span{
    font-weight: bold;
}
.hr{
    margin: 0;
    padding: 0;
}
.container3{
    display: flex;
    justify-content: space-between;
    padding-inline: 80px;
    background-color:rgb(230, 238, 244);
    padding-block:50px;
}
.container3 h2{
    font-size: 15px ;
    color: rgb(61, 59, 59);
    font-weight: lighter;
}
#quicklink h6{
    font-size:18px;
    padding-block:10px;
}
#feedback h6{
    font-size:18px;
    padding-block:10px;
}
#contact h6{
    font-size:18px;
    padding-block:10px;
}
#legal h6{
    font-size:18px;
    padding-block:10px;
}
footer{
    text-align: center;
    margin-block: 10px;
}
footer p{
    font-size: 15px;
}
.menu-icon {
    display: none;
}
.cancel-icon{
    display: none;
}

@media only screen and (max-width: 768px) {
    .bgimages{
        width:100%;
    }
    .left {
		position: fixed;
		flex-direction: column;
		background-color: rgb(252, 250, 250);
        color:black;
		top: 0;
		left: 0%;
		width: 100%;
		max-width: 350px;
		height: 100vh;
		text-align: center;
		display: none;
		text-decoration: none;
        z-index: 1;
		transition: all 0.3s ease;
	}

	.left.active {
		left: 0;

	}

	.left li a {
		color: #050404;
		font: 18px;
		margin-top: 10px;
		transition: all 0.3 ease;
		text-decoration: none;
	}

	.list li a:hover {
		background: linear-gradient(45deg, rgb(37, 37, 133), rgb(14, 14, 67), red, rgb(174, 171, 171));
		background-clip: text;
		color: transparent;

	}
    .menu-icon {
		color: rgb(247, 238, 238);
		display: block;
		font-size: 25px;
        margin-right: 20px;
	}
	.menu-icon.hide {
		display: none;
	}

    .right i {
        margin-left: 170px;
    }
    .right li{
        display: none;
    }
    #hidden{
        display: none;
    }
    .cancel-icon {
		position: absolute;
		color: white;
		right: 20px;
		top: 20px;
		font-size: 20px;
		cursor: pointer;
		display: block;
	}
    .name{
        top: 150px;
    }
    .name h5 {
        color: black;
        font-size: 45px;
    }
    .name h6{
        color: black;
    }
    .name p{
        font-size: 18px;
        margin:15px -50px 0 0;
        
    }
    .container{
        position: absolute;
        top:35% ;
        display: block;  
    }
    #containerleft h2{
        font-size: 14.7px;
        margin: 0 15px 0  0;
    }
    #containerright p{
        font-size: 17px;
        text-align: center;
    }
    .container1{
        position: absolute;
        top: 45%;
    }
    .container1 h3{
        font-size: 18px;
        margin: 20px 60px 0 0;
    }
    .container2{
        position:absolute;
        top:45%;
        width:100%
    }
    #range{
        display: none;
        
    }
    #carimage{
        width:100%;
        display: block  ;
    }
    #carimage img{
        width:300px;
        margin-left:50px
    }
    #para{
        position: absolute;
        top:120%;
    }
    .container3{
        position: absolute;
        top:135%;
        display: block;
        width: 100%;
        margin:0;
    }
    footer{
        position: absolute;
        top:207%
    }
    hr{
        display: none;
    }
}
